@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
   font-family: "Lato", sans-serif;
}

#picRV {
   max-height: 160px;
   max-width: 160px;
}

#picRV:hover {
   cursor: pointer;
}

.productCardRV {
   width: 160px;
}
/* Root container for the carousel */
.carouselRV {
   display: flex;
   align-items: baseline;
   justify-content: center;
}

/* Should be the track where the content will slide */
.sliderRV {
   overflow: hidden;
   min-width: auto;
   width: 1200px;
}

/* Where content is located */
.innerSliderRV {
   position: relative;
   display: flex;
   gap: 40px;
   transform-origin: 0px;
   margin: 0px 10px;
   width: 2400px;
}

#nameRV {
   text-decoration: none;
   color: steelblue;
   line-height: 20px;
   overflow: none;
}

#nameRV:hover {
   cursor: pointer;
   color: #c47601;
}

#revNumRV {
   text-decoration: none;
   color: steelblue;
   line-height: 20px;
   font-size: 12px;
}

#revNumRV:hover {
   cursor: pointer;
   color: #c47601;
}

#priceRV {
   font-size: 18px;
}

#prevBtnRV,
#nextBtnRV {
   display: flex;
   background-color: white;
   color: rgb(70, 70, 70);
   height: 37px;
   width: 34px;
   font-size: 25px;
   text-size-adjust: 100%;
   border: solid 1px rgb(211 211 211);
   box-shadow: #cacaca 0px 0px 3px 0px;
   border-radius: 5px;
   margin: auto;
   justify-content: center;
   align-items: center;
}

#prevBtnRV:hover,
#nextBtnRV:hover {
   cursor: pointer;
   background-color: rgb(250, 250, 250);
}

#prevBtnRV:active,
#nextBtnRV:active {
   background-color: rgb(0 194 255 / 11%);
   border: solid steelblue 1px;
}

#shippingRV {
   font-size: 12px;
   font-weight: light;
}
